body { 
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #000;
}

.game-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* Background full layar */
.room-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

/* ============================== */
/* ANIMASI ANAK BERGETAR */
@keyframes shake-child {
    0% { transform: translateX(-50%) translateY(0); }
    20% { transform: translateX(-50%) translateY(-1px); }
    40% { transform: translateX(-50%) translateY(1px); }
    60% { transform: translateX(-50%) translateY(-1px); }
    80% { transform: translateX(-50%) translateY(1px); }
    100% { transform: translateX(-50%) translateY(0); }
}

/* class untuk getaran */
.child.shake {
    animation: shake-child 0.35s infinite;
}

/* Anak (tanpa animasi default) */
.child {
    position: absolute;
    bottom: 170px;
    left: 50%;
    width: 30%;
    transform: translateX(-50%);
    transition: 0.4s ease;
    z-index: 5;
}


/* ============================== */
/* ANIMASI SAKLAR MEMBESAR TERUS */
/* ============================== */
@keyframes pulse-switch {
    0% { transform: translateX(-45%) scale(1); }
    50% { transform: translateX(-45%) scale(1.1); }
    100% { transform: translateX(-45%) scale(1); }
}

.switch-btn {
    position: absolute;
    top: 70px; 
    left: 50%;
    width: 140px;
    z-index: 10;
    cursor: pointer;
    animation: pulse-switch 1s infinite ease-in-out; /* animate */
}

/* ============================== */
/* ========  MOBILE  ============ */
/* ============================== */
@media (max-width: 600px) {

    .child {
        width: 170px;
        bottom: 280px;
    }

    .switch-btn {
        width: 80px;
        top: 220px;
    }
}

/* ============================== */
/* ========  TABLET ============ */
/* ============================== */
@media (min-width: 601px) and (max-width: 900px) {

    .child {
        width: 250px; 
        bottom: 220px;
    }

    .switch-btn {
        width: 140px;
        top: 70px;
    }
}

/* ============================== */
/* === OPTIONAL: TABLET LARGE === */
/* ============================== */
@media (min-width: 901px) and (max-width: 1200px) {

    .child {
        width: 32%; 
        bottom: 200px;
    }

    .switch-btn {
        width: 140px;
        top: 70px;
    }
}
